




header {
     font-family: Didot;
     position: fixed;
     display: grid;
     align-content: start;
     justify-content: start;
     top: 0;
     width: 100vw;
     z-index: 0;
     background-color: rgb(0, 0, 0);
     overflow-x: hidden;
}

div {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

p::first-letter{
  font-size: 1.2rem;
}

body {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: didot;
  background-color: ivory;
 
  }

  /* .container {
    display: flex;
  } */
.grid {
  display: grid;
  flex-direction: column;
  flex-basis: content;
  flex-wrap: wrap;
  flex-shrink: 1;

  min-width: 100vw;
  overflow: hidden;
  grid-template-rows: 75px max-content max-content max-content max-content max-content max-content max-content max-content;
  grid-template-columns: 1fr 1fr;
  
  color: rgb(2, 43, 26);
  justify-content: stretch;
  align-items: center;
}

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}






#menuToggle
{
  display: grid;
  align-self: start;
  grid-column-start: 1;
  grid-row-start: 1;
 
  left: 20px;
  height: 15px;
  line-height: .75em;
  z-index: 17;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #eb7d7d;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

.hamburger-box {
  position: absolute;
  top: 27px;
  height: 55px;
}
#menuToggle input
{
  width: 55px;
  height: 75px;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-bottom: 0;
  cursor: hand;
  opacity: 0;
  z-index: 16; 
  
  -webkit-touch-callout: none;
}

 #span1 {
   position: absolute;
  margin: 22px 4px 4px 15px;
 }

 #span2 {
   position: absolute;
   margin: 4px 4px 4px 15px;
 }

 #span3 {
   position: absolute;
   margin: 4px 4px 4px 15px;
 }

#menuToggle span
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 33px;
  height: 5px;
  position: relative;
  background: rgb(245, 214, 186);
  border-radius: 9px;
  z-index: 14;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  box-shadow: 1px 1px 1px 1px whitesmoke;
}

#menuToggle span:first-child
  {
  transform-origin: 0% 0%;
  }

#menuToggle span:nth-last-child(2)
  {
  transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ input
  {
    -webkit-transform: scale(3);
  }

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(35%, 45%);
  background: rgb(0, 0, 0);
  z-index: 16;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, 5px);
}

#menu
{
  position: absolute;
  width: 300px;
  padding: 50px;
  z-index: 15;
  background: ivory;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  transition-duration: 1s;
  display: none;
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}


 .name {
   display: grid;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   text-align: left;
   background-color: ivory;
   color: rgb(71, 63, 39);
   border-radius: 0px 0px 0px 0px;
   grid-row: 2;
   grid-column: 1; 
   padding: 0px 25px;
   line-height: 1.15;
   transition: all 1000ms ease-in 100ms;
   z-index: 9;
   overflow: hidden;
   height: 100%;
   
 }

.title {
  display: flex;
  font-size: .5em;
  text-align: left;
}



 .photo-box {
   display: grid;
   height: 100%;
   background-color: rgb(245, 214, 186);
   color: rgb(70, 49, 32);
   border-radius: 0px 0px 0px 0px;
   grid-area: 2 / 2 / 3 / 3;
   transition: all 1000ms ease-in 100ms;
   z-index: 11;
   overflow: hidden;
  
 }

  .photo {
   grid-row-start: 3;
   grid-column-start:1;
   background-color:#1a0241;
   justify-self: center;
   padding: 0px 0px;
   margin: 1fr 1fr 1fr 1fr;
   display: grid;
   /* height: 40vh; */
   transition: all 1000ms ease-in 100ms;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
   z-index: 11;
 }





  .education {
   display: grid;
   align-content: center;
   text-align: center;
   font-size: 2rem;
   background-color: #e6d2a9e3;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: min-content min-content min-content;
   grid-area: 3 / 1 / 5 / 3;
   justify-content: center;
   justify-items: center;
   padding: 0px 15px 0px 15px;
   line-height: 1.55;
   box-shadow: rgb(71, 65, 75) 0px 20px 30px -10px;
   transition: all 1000ms ease-in 100ms;
   z-index: 8;
   overflow: hidden;
   bottom: 15px;
  }

  .education a {
    padding: 10px 10px 10px 10px;
  }

  .education title {
    display: grid;
    grid-area: 1 / 2 / 2 / 4;
    text-align: center;
  }

  .degree1 {
    display: grid;
    grid-area: 2 / 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: .5em;
  }
   .degree2 {
    display: grid;
    grid-area: 2 / 2;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: .5em;
  }
   .degree3 {
    display: grid;
    grid-area: 2 / 3;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: .5em;
  }
   .degree4 {
    display: grid;
    grid-area: 2 / 4;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: .5em;
  }

  .institution1 {
    display: grid;
    grid-area: 3 / 1;
    font-style: italic;
    text-align: center;
     align-items: center;
    justify-content: center;
    font-size: .5em;
  }

    .institution2 {
    display: grid;
    grid-area: 3 / 2;
    font-style: italic;
    text-align: center;
     align-items: center;
    justify-content: center;
    font-size: .5em;
  }
    .institution3 {
    display: grid;
    grid-area: 3 / 3;
    font-style: italic;
    text-align: center;
     align-items: center;
    justify-content: center;
    font-size: .5em;
  }
    .institution4 {
    display: grid;
    grid-area: 3 / 4;
    font-style: italic;
    text-align: center;
     align-items: center;
    justify-content: center;
    font-size: .5em;
  }

    .leaves {
   display: grid;
   grid-area: 6 /1 / 7 /3;
   height: 20vw;
   transition: all 1000ms ease-in 100ms;
   z-index: 10;
 }



 .research {
   display: grid;
   width: 100%;
   font-size: 2rem;
   align-content: center;
   background-color: rgb(209, 193, 172);
   box-shadow: rgb(71, 65, 75) 0px 20px 30px -10px;
   grid-area: 7 / 1 / 9 / 3;
   line-height: 1.15;
   transition: all 1000ms ease-in 100ms;
   z-index: 10;
  }

  .research title {
    display: grid;
    text-align: center;
    
  }

  .research p {
    display: inline-block;
    font-size: .6em;
    text-indent: 3vw;
    padding: 0px 15px 0px 15px;
    text-align: justify;
  }

  #research-paragraph1 {
    display: inline-block;

  }

    #research-paragraph2 {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;

  }

    #research-paragraph3 {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
  
  }

  .research p::first-letter {
    
  }

   .research a {
     padding: 10px 0px 0px 0px;
     font-size: 10vw;
     text-align: center;
   } 
 #research {
 
 }


   .about {
    display: grid;
    align-items: center;
    justify-content: center;
   
    text-indent: 35px;
    background-color: rgb(238, 219, 192);
    border-radius: 0px 0px 0px 0px;
    grid-column: 1;
    grid-row: 6 ;
    height: 40vh;
    line-height: 1.35;
    transition: all 1000ms ease-in 100ms;
    z-index:11;
  }

  .about a{
    color: rgb(47, 83, 44);
  }
 
  .contact {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 1.6em;
    text-indent: 35px;
    background-color: rgb(47, 83, 44);
    color: ivory;
    border-radius: 0px 0px 0px 0px;
    grid-column: 2;
    grid-row: 6 ;
    height: 40vh;
    line-height: 1.35;
    transition: all 1000ms ease-in 100ms;
    box-shadow: rgb(71, 65, 75) 0px 20px 30px -10px;
    z-index: 10;
  }

  .contact a{
    display: flex;
    color: ivory;
  }


  .publications {
   display: grid;
   
   flex-direction: row;
   justify-content: center;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   font-size: 8vw;
   background-color: rgb(248, 238, 225);
   grid-area: 9 / 1 / 10 / 3;
   line-height: 1.35;
   transition: all 1000ms ease-in 100ms;
   z-index: 10;
  }

  .publications title {
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    align-self: center;
    justify-self: center;

  }

   #article1 {
     display: flex;
     line-height: 1.25;
     grid-area: 2 / 1 / 3 / 2;
     text-align: center;
     font-size: .7em;
     
     transition: all 800ms ease-in 100ms;
     border: 5px solid transparent;
     text-decoration: underline;
     will-change: border;
   }

   #article1:hover, #article2:hover {
      border-radius: 5px 5px 5px 5px;
      color: black;
      border: 5px solid #e7cd77;
   }

    #article2 {
      display: flex;
      line-height: 1.25;
      grid-area: 4 / 1 / 5 / 2;
      text-align: center;
      font-size: .7em;
      transition: all 800ms ease-in 100ms;
      border: 5px solid transparent;
      text-decoration: underline;
      will-change: border;
   }

   #scholars-page {
     grid-area: 6 / 1 / 7 / 2;
     padding: 0px 0px;
     margin-left: 25vw;
     margin-right: 25vw;
     margin-bottom: 65px;
     border: 5px solid rgb(47, 83, 44);
     /* background-color: rgb(47, 83, 44); */
     border-radius: 5px;
     color: #887a4b;
 
     text-align: center;
   }

  .publications a {
     display: flex;
     line-height: 1.35;
     grid-area: 1 / 1 / 2 / 3;
     align-items: center;
     justify-content: center;
     color: rgb(47, 83, 44);
     border: 5px solid transparent;
   }



   #authors1 {
     display: grid;
     grid-area: 3 / 1 / 4 / 2 ;
     font-size: .6em;
     text-align: center;
     justify-content: center;
     align-items: center;
     text-decoration: none;
   }

      #authors2 {
     display: grid;
     grid-area: 5 / 1 / 6 / 2 ;
     font-size: .6em;
     text-align: center;
     justify-content: center;
     align-items: center;
     text-decoration: none;
   }
   

   footer{
     height: 10vh;
     font-size: 1.5em;
     display: flex;
     color: rgb(37, 65, 25);
     align-items: center;
     justify-content: center;
     text-align: center;
     background-image: url("resources/leaves.jpg");
   }

  @media only screen and (max-width: 425px) {

    * {

      font-family: 'Montserrat', sans-serif;
      box-sizing: border-box;
      text-indent: 0px;
    }

    .grid{
      grid-template-columns: 100vw;
      grid-template-rows: 75px repeat(12, max-content);
    }

 

    .nav-container {
      display: grid;
      grid-area: 1 / 1 / 2 / 2;
      
    }

    .name {
      display: grid;
      grid-area: 2 / 1 / 3 / 2;
      text-align: center;
      padding: 25px 10px 10px 10px;
    }

    .name a {
      
    }

    .photo-box {
      grid-area: 3 / 1 / 4 / 2;
      justify-content: center;
    }

    .education {
      padding-top: 25px;
      display: inline-block;
      align-items: left;
      justify-items: left;
     
      grid-area: 4 / 1 / 5/ 2;
    }

    .education title {
      
    }

    .education a {
      text-align: center;
      padding: 0px 0px 0px 0px;
      margin: 0 auto;
   
    }


  .leaves {
    display:grid;
    grid-area: 5 / 1 / 6 / 2;
  }

  .leaves2 {
      text-align: justify;

   text-indent: 35px;
   display: grid;
   grid-area: 9 /1 /10 /2;
   /* padding: 25px 35px; */
   height: 20vw;
   line-height: 1.35;
   transition: all 1000ms ease-in 100ms;
   z-index: 6;
  }

  .research {
      padding-top: 15px;
      display:grid;
      grid-template-columns: fit-content(1fr);
      grid-template-rows: fit-content(1fr);
      text-align: center;
      line-height: 1.35;
      grid-area: 6 / 1 / 9 / 2;
     }

  .publications {
      grid-area: 10/ 1 / 12 / 2;
      display: inline-block;
      text-align: center;
      grid-template-rows: max-content min-content min-content;
      box-shadow: rgba(60, 64, 67, 0.3) 4px 4px 4px 4px, rgba(60, 64, 67, 0.15) 0px 2px 2px 0px;
    }

  .publications title {
  
    }

  .publications a {
      padding: 10px;
    }

  #authors1, #authors2 {
   
    }

  #article1, #article2, #scholars-page {
    
      display: flex;
      text-align: center;
      border-radius: 15px 15px 15px 15px;
      margin: 5px 5px 5px 5px;
      color: black;
      border: 5px solid rgb(47, 83, 44);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

  #scholars-page {
      margin: 0px 20px 20px 25px;
    }


    


}